*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 
}


/*---HEADER---------------------------------------------------------------------------------------*/

header{
    width: 100%;
    height: 100vh;
    background-image: url("Imagenes/header.jpg");
   background-size: cover;
   background-position-y:-50px ;
   background-position: center center;
   background-repeat: no-repeat;
   background-repeat: no-repeat;
    overflow: hidden;
   display: flex;
   position: relative;
   box-shadow: inset 100px 100px 700px rgb(0, 0, 0);
   
  
   
}


.logotipo{
    width: 250px;
    height:250px;
    overflow: hidden;
    position: relative;
    margin-left: 3%;
    margin-top: 2%;

}

.logotipo img{
    cursor: pointer;
    height: 100%;

}


.filaopciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: centers;
    position: relative;
  
}

.apartados{
    width:70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);

    cursor:pointer;
}

main h1{
    text-align: center;
    
}

.row1noticia a{
    color: #1c1b1b;
}

.row1 h1{
    width: 70%;
}

.barraopciones{
 
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.apartados h4{
    font-weight: 650;
    padding: 2%;
    transition: 0.3s;
    cursor: pointer;
}

.apartados h4:hover{
    color: rgb(218, 165, 32);
}


main{
   
    height: 100%;
    width: 100%;
    background-image: url("Imagenes/fondomain.jpg");
    background-position: center center;
    background-size: cover;
   
    position: relative;
    background-repeat: no-repeat;
    border: 0.2px solid #1c1b1b;

}

.contenedorvideo{
    width: 500px;
    height: 300px;
   border-radius: 4px;
    position: absolute;
    bottom: 6%;
    left: 6%;
    box-shadow: 2px 2px 12px black;
    transform: rotateZ(5deg);
    overflow: hidden;
}

.contenedorvideo video{
    height: 130%;
    position: absolute;
    left: -18%;
    top: -15%;
}

.contenedorvideo img{
    width: 30px;
}


.imgcolumna{

    position: absolute;
    width: 70%;
    top:-8%;
    left: 0%;



}

.imgcolumna img{

    width: 80%;
    
    


}

.categoriatitulo{
    position: absolute;
    bottom: 3%;
    left: -2%;
    
}

.flechadown{
    position: absolute;
    right: -2%;
    bottom: 22%;
    font-weight: 900;
    color: #eea500;
    font-size: 100px;
    cursor: pointer;
    transition: 2s;
    animation: abdominales 3s infinite;
}

.flechadown:hover{
    transform: translateY(-200px);
}

@keyframes abdominales {
    
0%{
    transform: translateY(0px);
}

20%{
    transform: translateY(0px);
}

40%{
    transform: translateY(0px);
}

60%{
    transform: translateY(0px);
}

80%{
    transform: translateY(-20px);
}

100%{
    transform: translateY(0px);
}






}

/*---SUBMENUS---------------------------------------------------------------------------------------*/

.submenu{
    width: 100%;
    height: 35%;
    display: flex;
   margin-left: 32%;
   gap: 4%;


    color: rgb(0, 0, 0);

}


.opcionsubmenu{

    width: 15%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-image: linear-gradient(to right top, #1c1b1b, #1d1c1c, #1d1d1d, #1e1e1e, #1f1f1f);
    color: white;
    border-radius: 4px;
    transition: 0.5s;
  
    transform: translateY(-30px);
    opacity: 0;
}

.contenidosubmenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  

}

.opcionsubmenu p{
    font-size: 15px;
    transition: 0.1s;
   
}

.opcionsubmenu p:hover{
    color: goldenrod;
}

.contenidosubmenu p{
    cursor: pointer;
}


/*---BARRA HEADER---------------------------------------------------------------------------------------*/

.barraheader{
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
    width: 50%;
    height: 12vh;
    background-image: linear-gradient(to right, #eea500, #f6ba00, #fbd000, #ffe700, #fffe00);
}

.imgseparador{
   width: 100%;
  
   display: flex;
   justify-content: center;
}

.imgseparador img{
    width: 85%;
}

.imgintrotienda{
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.imgintrotienda img{
    width: 80%;
}


/*---WELCOME---------------------------------------------------------------------------------------*/


.welcome{
    width: 100%;
    
    display: flex;
    flex-direction: row-reverse;
    
    
    position: relative;
  
   
 
}
.welcome img{
    margin-left: 5%;
    top: 0;
    
}


/*---LOGROS---------------------------------------------------------------------------------------*/


.ultimologro{
    color: white;
    height: 80vh;
    width: 85%;

    margin: 0 auto; 
    margin-top: 5%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

      
   
   
}


.imgperspectiva{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;

 
 
    perspective: 900px;
   
}


.imgbarra{
    z-index: 1;
    position: absolute;
    width: 63%;
    height: 150%;
    left: -5%;
    top: -19%;
 
    max-height: 100%;
   
 
}

.imgbarra img{
    width: 100%;
    height: 100%;
    transform: rotatex(-25deg);
}



.calistenico{
  
    transform: rotateY(25deg);
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 80%;
   
  
}



/*---COLUMNAS---------------------------------------------------------------------------------------*/


.row1{

    width: 50%;
    height:71%;
    background-image: linear-gradient(to right, #ffd200, #ffbf00, #ffac00, #ff9900, #ff8500);
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    position: absolute;
    color: #090909;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    flex-direction: column;
   right: 4%;
}   

.row1 h1{

    font-size: 70px;
    margin-bottom: 10%;
}

.row1 h2{

    font-size: 50px;
    font-weight: 400;
   
}



.row2{

    width: 50%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    flex-direction: column;
}


/*---ULTIMAS NOTICIAS---------------------------------------------------------------------------------------*/

.ultimasnoticias{

 
    color: white;
    height: 80vh;
    width: 85%;

    margin: 0 auto; 
    margin-top: 0%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    


}

.noticiaimg{
  
    transform: rotateY(-25deg);
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 80%;
   
  
}

.row1noticia{

    width: 50%;
    height:71%;
    background-image: linear-gradient(to right, #ffd200, #ffbf00, #ffac00, #ff9900, #ff8500);
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    position: absolute;
    color: #090909;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    flex-direction: column;
   left: 4%;
   padding: 5%;
  
}   

#categoria{


color: black;
text-decoration: none;



}
.row1noticia h1{
    font-size: 70px;
    margin-bottom: 10%;
}

.row1noticia h2{

    font-size: 50px;
    font-weight: 400;
   
}


.row2noticia{

    width: 50%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    flex-direction: column;
}


.imgbandera{
    z-index: 1;
    position: absolute;
    
    height: 150%;
    width: 50%;
    right: 0%;
    bottom:-15%;
  

 
    max-height: 100%;
   
 
}

.imgbandera img{
    height: 100%;
   position: absolute;
   right: -15%;
   bottom: 10%;
    
}



/*---TIENDA---------------------------------------------------------------------------------------*/

.tiendaintroduccion{
    width: 72%;
    height:70vh;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 4px;
    background-image: url("Imagenes/Catalogotienda.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    box-shadow: inset 5px 5px 100px black;

    
}

.tiendaintroduccion img{
    position: absolute;
    width: 100px;
}

#chincheta1{

    left: 2%;
    top: 2%;
    transform: rotateZ(50deg);
}

#chincheta2{

    right: 2%;
    top: 2%;

    transform: rotateZ(140deg);

}


#chincheta3{

    left: 2%;
    bottom: 2%;

}


#chincheta4{

    right: 2%;
    bottom: 2%;

    transform: rotateZ(80deg);

}


/*---FOOTER---------------------------------------------------------------------------------------*/

.footer{

    height: 30vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

}

.columnasfooter{
   
    display: flex;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to right top, #1c1b1b, #1d1c1c, #1d1d1d, #1e1e1e, #1f1f1f);

}

.footerow{
    width: 50%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;
    
  
}

.footer li{
    font-size: 30px;
}

.redessociales{

    width: 100%;
    height: 40%;
    padding: 2%;
    background-image: linear-gradient(to right top, #1c1b1b, #1d1c1c, #1d1d1d, #1e1e1e, #1f1f1f);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redessociales img{
    cursor: pointer;
}

#flechaoculta{
    color: white;
    position: absolute;
    bottom: 65%;
    left: 1%;
    transition: 0.3s;
    cursor: pointer;
}